/* Login.css */
.login-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/backgroundLogin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 20px;
  margin-top: 100px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-form h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.login-form .text-field {
  background-color: rgb(0, 0, 0);

  font-size: 18px;
  font-weight: bolder;
}

.login-form .text-field label {
  color: #aaa;
}

.login-form .text-field .MuiOutlinedInput-input {
  color:whitesmoke !important;
}



.login-form .login-button {
  margin-top: 16px;
  background-color: rgba(33, 51, 214, 0.91);
}